<p> average score =
<%=
    @avg
    
%></p>
<p> max score subject =
<%=
    @ans
    
%></p>
<table>
<th>Subject</th>
<th>Score</th>
<th>Edit</th>
<th>Delete</th>
<% @scores.each do |s| %>
    <tr>
        <td><%= s.subject %></td>
        <td><%= s.point %></td>
        <td><%= link_to 'Edit', edit_score_path(s.id.to_s)  %></td>
        <td><%= button_to "Delete", s, method: :delete %></td>
    </tr>
<%end%>

</table>
<%=link_to 'NEW', '/scores/new'  %>